<footer class="footer d-flex justify-content-center align-items-center">
    <div class="footer__container d-flex flex-column justify-content-start">
        <div class="footer__logo-container d-flex justify-content-center justify-content-md-start align-items-center">
            <img class="footer__logo" src="assets/img/LogoV1.png">
        </div>
        <section class="footer__links d-flex justify-content-md-center flex-md-row flex-column align-items-center">
            <div class="footer__column">
                <h5 class="footer__title">Liens utiles</h5>
                <ul class="footer__list">
                    <li class="footer_item">mentions légales</li>
                    <li class="footer_item">données personnelles</li>
                    <li class="footer_item">accessibilité</li>
                    <li class="footer_item">cookies</li>
                </ul>
            </div>

            <div class="footer__column">
                <h5 class="footer__title">Lyon</h5>
                <ul class="footer__list">
                    <li class="footer_item">101 cours Charlemagne CS 20033 69269 LYON CEDEX 02 France</li>
                    <li class="footer_item">+33 (0)4 26 73 40 00</li>
                </ul>
            </div>
        </section>
    </div>
</footer>
