<section class="contact-form d-flex flex-column justify-content-center align-items-center w-100">
    <h1 class="contact-form__title text-center" >Contacter votre artisant</h1>
    <form class="contact-form__form d-flex flex-column justify-content-center w-100">
        <label for="name" class="contact-form__label">Nom</label>
        <input type="text" id="name" name="name" class="contact-form__input">

        <label for="email" class="contact-form__label">Email</label>
        <input type="email" id="email" name="email" class="contact-form__input">

        <label for="subject" class="contact-form__label">Object</label>
        <input type="text" id="subject" name="subject" class="contact-form__input">

        <label for="message" class="contact-form__label">Message</label>
        <textarea id="message" name="message" class="contact-form__textarea"></textarea>
        <div class="contact-form__submit-container d-flex justify-content-end py-2">
            <button type="submit" class="contact-form__submit d-flex justify-content-center align-items-center">Envoyer</button>
        </div>
    </form>
</section>
 