<main class="artisan d-flex flex-column justify-content-center align-items-center px-4 px-sm-3">
    <section class="artisan__details-container w-100 d-flex flex-column">
        <div class="artisan__header d-flex flex-column flex-sm-row align-items-sm-center justify-content-between">
            <h1 class="artisan__title">Artisan name</h1>
            <div class="artisan__rate d-flex justify-content-end">
                <p class="artisan__rate-note">3.5</p>
                <div class="artisan__rate-stars d-flex justify-content-between align-items-center">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
        </div>

        <div class="artisan__details d-flex flex-column flex-md-row justify-content-between">
            <div class="artisan__info d-flex flex-column w-100">
                <p class="artisan__detail">Speciality : <strong>speciality</strong></p>
                <p class="artisan__detail">Location : <strong>location</strong></p>
                <p class="artisan__detail">web : <strong>www.artisan.com</strong></p>                
            </div>

            <div class="artisan__about w-100 d-flex flex-column">
                <h2 class="artisan__about-title">A propos :</h2>
                <p class="artisan__about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend ante sem, id volutpat massa fermentum nec. Praesent volutpat scelerisque mauris, quis sollicitudin tellus sollicitudin.</p>
            </div>
        </div>
    </section>

    <app-contact-form class="w-100 d-flex justify-content-center align-items-center"></app-contact-form>
</main>
